<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
  
   <div class="sidebar">
     <h3><a href="{{ site.url }}{{ site.baseurl }}/loggingin.html">Logging In</a></h3>
     <h3><a href="{{ site.url }}{{ site.baseurl }}/somebasiccommands.html">Basic Commands</a></h3>
     <h3><a href="{{ site.url }}{{ site.baseurl }}/modules.html">Modules</a></h3>
     <h3><a href="{{ site.url }}{{ site.baseurl }}/submitscripts.html">Submit Scripts</a></h3>
     <h3><a href="{{ site.url }}{{ site.baseurl }}/congratulations.html">Conclusion</a></h3>
   </div>
   

  <div class="tutorialcontent">
 
    <div class="page-content">
      <div class="wrapper">
        <div class="post">

           <header class="post-header">
             <h1 class="post-title">{{ page.title }}</h1>
           </header>
       <div class="tutorialtext">
         <div id="main">
           <article class="post-content">
             {{ content }}
           </article>
         </div>
       </div>

        </div>
      </div>
    </div>

  </div>

    {% include footer.html %}

  </body>

</html>
